In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
books=pd.read_csv('BX-books.csv', sep=";", on_bad_lines='skip', encoding='latin-1', low_memory=False)

In [3]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [4]:
books.shape

(271360, 8)

In [5]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [6]:
books=books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]

In [7]:
books.rename(columns={"Book-Title":"title", "Book-Author": "author","Year-Of-Publication": "year","Publisher": "publisher", "Image-URL-L": "img_url"   },inplace=True)

In [8]:
users=pd.read_csv("BX-Users.csv",sep=';',on_bad_lines='skip', encoding='latin-1')

In [9]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [10]:
ratings = pd.read_csv("BX-Book-Ratings.csv",delimiter=';',on_bad_lines='skip',encoding='latin-1')

In [11]:
ratings.shape

(1149780, 3)

In [12]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [13]:
ratings.rename(columns={"User-ID":"user_id","ISBN":"ISBN","Book-Rating":"rating"}, inplace=True)

In [14]:
ratings["user_id"].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [15]:
ratings["user_id"].unique().shape

(105283,)

In [16]:
x=ratings["user_id"].value_counts()>100

In [17]:
x

user_id
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: count, Length: 105283, dtype: bool

In [18]:
y=x[x].index

In [19]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       238186,  99441, 187410, 262070,  70183,  40553,  39345, 266283, 189666,
       140879],
      dtype='int64', name='user_id', length=1825)

In [20]:
ratings=ratings[ratings['user_id'].isin(y)]

In [21]:
ratings.head(2)

     user_id        ISBN  rating
412   276925  0006511929       0
413   276925  002542730X      10

ratings.shape()

In [22]:
ratings.shape

(656605, 3)

In [23]:
ratings_with_books=ratings.merge(books, on="ISBN")

In [24]:
ratings_with_books.head(5)

,user_id,ISBN,rating,title,author,year,publisher,img_url
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,10030,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [25]:
num_ratings= ratings_with_books.groupby('title')['rating'].count().reset_index()

In [26]:
num_ratings

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       3
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
182179                   Ã?Â?berraschung am Valentinstag.       1
182180                                      Ã?Â?lpiraten.       1
182181                     Ã?Â?rger mit Produkt X. Roman.       2
182182                              Ã?Â?stlich der Berge.       1
182183                                  Ã?Â?thique en toc       2

[182184 rows x 2 columns]

In [27]:
num_ratings.rename(columns={'rating':'num_of_rating'},inplace =True)

In [28]:
num_ratings.head(45)

                                                title  num_of_rating
0    A Light in the Storm: The Civil War Diary of ...              3
1                               Always Have Popsicles              1
2                Apple Magic (The Collector's series)              1
3    Beyond IBM: Leadership Marketing and Finance ...              1
4    Clifford Visita El Hospital (Clifford El Gran...              1
5                                        Dark Justice              1
6                                            Deceived              2
7    Earth Prayers From around the World: 365 Pray...              5
8    Final Fantasy Anthology: Official Strategy Gu...              4
9    Flight of Fancy: American Heiresses (Zebra Ba...              2
10   Garfield Bigger and Better (Garfield (Numbere...              1
11                          God's Little Promise Book              1
12   Good Wives: Image and Reality in the Lives of...              7
13   Goosebumps Monster Edition 1: Welcome to Dead...              5
14   Harry Potter and the Bible: The Menace Behind...              1
15   Highland Desire (Zebra Splendor Historical Ro...              1
16   Hiking the California Coastal Trail: Oregon t...              1
17                                       It Takes Two              1
18               LA Gallinita Roja/the Little Red Hen              2
19   Little Comic Shop of Horrors (Give Yourself G...              4
20   Murder of a Sleeping Beauty (Scumble River My...              9
21                                       Mystery Mile              2
22   Nonbook Materials: The Organization of Integr...              1
23     Pokemon: The Official Collector's Sticker Book              1
24   Q-Space (Star Trek The Next Generation, Book 47)             15
25    Q-Zone (Star Trek The Next Generation, Book 48)              9
26                 Summonings: Books of Magic, Vol. 2              1
27                       Tales of Terror and Suspense              1
28   The Secret of the Old Clock (Nancy Drew, Book 1)              3
29   The Tender Commandments : Reflections on the ...              2
30                      The Town Cats and Other Tales              1
31   This Place Has No Atmosphere (Laurel-Leaf Books)              8
32                                        Tough Loser              1
33   Travel Companion Chile and Easter Island (Tra...              1
34   Twenty Thousand Leagues Under the Sea (Illust...              1
35                                 Weird News Stories              2
36   Zap!: Science Fair Surprise! (Abracadabra!, B...              1
37                      the Devil Will Drag You Under              1
38                          !%@ (A Nutshell handbook)              2
39                    !Arriba! Comunicacion y cultura              2
40  !Trato hecho!: Spanish for Real Life, Combined...              1
41                                               !Yo!              4
42                 $14 In The Bank (Cathy Collection)              5
43                                        $Weet Deal$              1
44  ' Mein verwundetes Herz'. Das Leben der Lilli ...              1

In [29]:
final_ratings=ratings_with_books.merge(num_ratings, on = 'title')

In [30]:
final_ratings.head(2)

,user_id,ISBN,rating,title,author,year,publisher,img_url,num_of_rating
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105

In [31]:
final_ratings=final_ratings[final_ratings['num_of_rating']>35]

In [32]:
final_ratings.head(2)

,user_id,ISBN,rating,title,author,year,publisher,img_url,num_of_rating
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105

In [33]:
final_ratings.shape

(130600, 9)

In [34]:
final_ratings.drop_duplicates(['user_id','title'],inplace=True)

In [35]:
book_pivot=final_ratings.pivot_table(columns='user_id',index='title',values='rating')

In [36]:
book_pivot

user_id,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16 Lighthouse Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1984,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
book_pivot.shape

(1817, 1802)

In [38]:
book_pivot.fillna(0, inplace =True)

In [39]:
book_pivot

user_id,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
!pip install scipy

Requirement already satisfied: scipy in c:\users\prash\anaconda3\lib\site-packages (1.11.1)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in c:\users\prash\anaconda3\lib\site-packages (from scipy) (1.24.3)

In [41]:
from scipy.sparse import csr_matrix

In [42]:
book_sparse=csr_matrix(book_pivot)

In [43]:
book_sparse

<1817x1802 sparse matrix of type '<class 'numpy.float64'>'
	with 34510 stored elements in Compressed Sparse Row format>

In [44]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\prash\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\prash\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\prash\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\prash\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\prash\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [45]:
from sklearn.neighbors import NearestNeighbors

In [46]:
model = NearestNeighbors(algorithm='brute')

In [47]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [48]:
distance, suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors=6 )

In [49]:
distance

array([[ 0.        , 22.56102835, 23.57965225, 24.18677324, 24.2693222 ,
        24.2693222 ]])

In [50]:
suggestion

array([[ 237, 1167, 1707, 1699, 1747,  875]], dtype=int64)

In [51]:
book_pivot.iloc[241,:]

user_id
183       0.0
254       0.0
507       0.0
882       0.0
1424      0.0
         ...
277478    0.0
277639    0.0
278137    0.0
278188    0.0
278418    0.0
Name: Cane River, Length: 1802, dtype: float64

In [52]:
book_pivot.index[3]

'1st to Die: A Novel'

In [53]:
book_names = book_pivot.index

In [54]:
book_names[2]

'1984'

In [55]:
np.where(book_pivot.index == '4 Blondes')[0][0]

10

In [57]:
import pickle

In [60]:
pickle.dump(model,open('model.pkl','wb'))
pickle.dump(book_names,open('book_names.pkl','wb'))
pickle.dump(final_ratings,open('final_rating.pkl','wb'))
pickle.dump(book_pivot,open('book_pivot.pkl','wb'))

In [61]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [62]:
book_name = "Harry Potter and the Chamber of Secrets (Book 2)"
recommend_book(book_name)

You searched 'Harry Potter and the Chamber of Secrets (Book 2)'

The suggestion books are:

Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Sorcerer's Stone (Book 1)
Confessions of a Sociopathic Social Climber : The Katya Livingston Chronicles (Katya Livingston Chronicles (Hardcover))
The Hobbit: or There and Back Again